:root{
--color-text-primary-veryDarkDesaturatedBlue :hsl(238, 29%, 16%);
--color-text-primary-softRed :hsl(14, 88%, 65%);

--color-text-neutral-veryDarkGrayishBlue :hsl(237, 12%, 33%);
--color-text-neutral-darkGrayishBlue :hsl(240, 6%, 50%);

--color-divider-neutral-lightGrayishBlue :hsl(240, 5%, 91%);

--color-gradient-softViolet:hsl(273, 75%, 66%);
--color-gradient-softBlue:hsl(240, 73%, 65%);

--font-family: 'Kumbh Sans', sans-serif;
--font-weight-400:400;
--font-weight-700:700;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
hr{
    margin-top: 1em;
    color: var(--color-divider-neutral-lightGrayishBlue);
    border-width: 1px;
}

body{
    font-size: 12px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color-gradient-softViolet),var(--color-gradient-softBlue));
    font-family: var(--font-family);

}

.card{
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 4em;
    background-color: white;
    border-radius: 15px;
    background-image: url(images/bg-pattern-desktop.svg);
    width: 1000px;
}

.card__picture{
    display: flex;
    flex: 50%;
    align-items: center;
    border: 2px solid red;
    position: relative;
}
.card__picture img:last-child{
border: 2px solid green;
position: absolute;
width: 200px;
    left: -8em;
}
.cube{
    
}










.card__info{
    flex: 50%;
    font-size: 1rem;
    
    border: 1px solid green;
    padding: 2em;
    
}
.card__info h1{margin-bottom: 1em;
}
.card__info img{
    width: 20px;
}

.card__info__content{}
.card__info__content-question{
    display: flex;
    margin: 1em 0;
    gap: 1em;
    justify-content: space-between;
}
.card__info__content-answer{
       display: none;
    
}

.card__info__content-question{

 
}

.arrow{
    
}

